.inputContainer {
  display: flex;
  flex-direction: column;
  .input {
    font-family: "Inter", sans-serif;
    outline: none;
    display: block;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #37414a;
    text-align: left;
    padding: 13px 20px;
    background: rgba(30, 31, 37, 0.02);
    border: 1px solid rgba(184, 184, 184, 0.3);
    border-radius: 5px;
    width: 100%;
  }
  .input::placeholder {
    color: #b8b8b8;
  }
  .errorText {
    display: flex;
    justify-self: start;
    padding-left: 20px;
    font-size: 14px;
    color: rgb(169, 6, 6);
  }
}
