.profileContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  justify-content: center;
  margin-top: 100px;
  &__image {
    width: 20%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__infoBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10%;
    font-size: 20px;
    gap: 20px;
    .name {
      display: flex;
    }
    .login {
    }
    .password {
    }
    .logoutButton {
      font-size: 30px;
    }
  }
}
