.Mmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.MmodalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background: white;
  min-width: 250px;
  min-height: 50px;
  border: 1px solid #37414a;
  border-radius: 5px;
  width: 1000px;
  z-index: 1500;
  font-weight: 600;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  color: black;
  .background {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
  }
  .modalTitle {
    margin-bottom: 30px;
  }
  .modalText {
    width: 60%;
    font-size: 20px;
    white-space: pre-line;
  }
}
.closeButton {
  position: absolute;
  right: 30px;
  top: 30px;
  color: black;
}

.Mmodal.active {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1501;
  img {
    fill: white;
  }
  span {
  }
}
