.registrationContainer {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 80%;
  margin-top: 60px;
  &__title {
    font-size: 24px;
    margin-bottom: 40px;
  }
  &__name {
    margin-bottom: 40px;
  }
  &__email {
    margin-bottom: 40px;
  }
  &__password {
    margin-bottom: 40px;
  }
  &__button {
    width: 160px;
  }
}
