.Btn {
  padding: 6px 8px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #37414a;
  color: #000;
  border-radius: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  white-space: nowrap;
  width: 100%;
  transition: background-color 0.4s, color 0.4s;
}

.Btn:hover {
  background-color: #37414a;
  transition: background-color 0.4s, color 0.4s;
  color: #fff;
}
