a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
  color: #666;
}
a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logoContainer {
    cursor: pointer;
    &__logo {
      width: 50%;
    }
  }
  .linkContainer {
    display: flex;
    font-size: 24px;
    color: black;
    gap: 20px;
    font-weight: 300;
    &__link {
      font-weight: 400;
      transition: text-shadow 0.2s;
      &:hover {
        text-shadow: 0 0 0.65px #333, 0 0 0.65px #333;
      }
    }
  }
  .profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    cursor: pointer;
    &__icon {
      width: 15%;
    }
    &__name {
      font-size: 20px;
      margin-left: 10px;
    }
  }
}
