.mainPage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  height: 500px;
  &__welcomeMessage {
    display: flex;
  }
  &__name {
    display: flex;
    font-weight: 600;
  }
}
